{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2">{{ todo.title }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ todo.description }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{ todo.updated_at }}
                </div>
            </div>
        </div>
        {% if request.user == todo.author %}
        <div class="my-3">
            <a href="{% url 'todos:todo_modify' todo.id  %}"
               class="btn btn-sm btn-outline-secondary">수정</a>
            <a href="{% url 'todos:todo_delete' todo.id  %}" class="delete btn btn-sm btn-outline-secondary"
               data-uri="{% url 'todos:todo_delete' todo.id  %}">삭제</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}