{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>제목</th>
            <th>완료</th>
            <th>작성일</th>
            <th>수정일</th>
        </tr>
        </thead>
        <tbody>
        {% if todos %}
        {% for todo in todos %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'todos:detail' todo.id %}">{{ todo.title }}</a>
            </td>
            <td>{{ todo.is_completed }}</td>
            <td>{{ todo.created_at }}</td>
            <td>{{ todo.updated_at }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{% url 'todos:todo_create' %}" class="btn btn-primary">할 일 추가</a>
</div>
{% endblock %}